<h1>Crear rol</h1>
<form asp-action="Create" method="post">
    <label for="nombre">Rol</label>
    <input type="text" name="nombre" placeholder="Ingrese aquí el nombre del rol" class="=form-control" />
    <input type="submit" value="Crear" claas="btn btn-primary" />
</form>