@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvendo al Carrito de Compras</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="carrusel/ima1200843873.jpg" class="d-block w-100" width="1000" height="250">
    </div>
    <div class="carousel-item">
      <img src="carrusel/Por-que-abandonan-el-carrito-de-compras-en-internet.jpg" class="d-block w-100" width="1000" height="250">
    </div>
  </div>
</div>
